.ipynb_checkpoints
.DS_Store
.idea
readonly
__pycache__
*.pyc

# week3
102flowers.tgz
imagelabels.mat

# week4
lfw-deepfunneled.tgz
lfw.tgz
lfw_attributes.txt

# week6
captions_train-val2014.zip
train2014_sample.zip
train_img_embeds.pickle
train_img_fns.pickle
val2014_sample.zip
val_img_embeds.pickle
val_img_fns.pickle